<div class="DGallery">
<h1>3d images gallery</h1>
<div class="container">
    <div id="carousel">
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>
        <figure><img src="/images/myPic.jpg" alt=""></figure>

    </div>
</div></div>